.about-body {
    h1, h2, h3 {
        color: black !important;
    }
}

section.title {
    text-align: center;
    
    h1 {
        border-bottom: 3px solid;
        color: #000;
        font-size: 30px;
        line-height: 1.2;
    }
}

section.dictionary {
    padding: 40px 30px 50px 30px;
    font-size: 14px;
    background: white;
    
    h1 {
        font-size: 24px;
        margin: 5px 0;
    }
    
    h2 {
        font-size: 18px;
        margin: 5px 0;
    }
}

section.how-it-works {
    padding: 10px 50px;
    color: white;
    background: $skyblue2;
    text-align: center;
    
    h1 {
        border-bottom: 3px solid;
        color: white !important;
        font-size: 30px;
        line-height: 1.2;
    }
    
    h4 {
        color: white;
        font-weight: bold;
        padding: 0.35em 0;
        margin: 1em 0 2em;
        border-bottom: 2px solid;
        display: inline-block;
    }
    
    p {
        font-size: 14px;
        max-width: 17em;
        margin: 0 auto 1em;
    }
}

section.our-story {
    padding: 10px 30px;
    height: 300px;
}

.hr-coral {
    border-bottom: 3px dotted #F15F4E;
}

.number-circle {
    font-size: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: 2px;
    padding: 5px;
    z-index: 10;
    background: $darkgray;
    color: $white;
    text-align: center;
}

.about-jamjar-line {
    border-radius: 15px;
    padding: 2px;
    margin-top: 0;
    margin-bottom: 15px;
    height: 1px;
    overflow: hidden;
}

.title-line {
    background: $coral;
    margin-left: -80px;
}

.sub-title-line {
    background: $blue;
    margin-left: -80px;
}

.def-line-xs {
    background: $green;
    margin-left: -5px;
}
.def-line-s {
    background: $green;
    margin-left: -5px;
}
.def-line-m {
    background: $green;
    margin-left: -5px;
}
.def-line-l {
    background: $green;
    margin-left: -5px;
}

.def-text {
    margin-left: 10px;
}

.how-it-works-icon {
    background-color: rgba(255,255,255,0.4) !important;
    border-radius: 50%;
    color: white;
    display: block;
    width: 6rem;
    height: 6rem;
    padding: 1.5rem;
    margin-top: 20px;
}

.how-it-works-jamjar {
    padding: .8rem !important;
}