.about-body {
    height: 500px;
    min-height:100%;
    padding: 100px 70px 100px 70px;
    
    h1, h2, h3 {
        text-align: center;
        color: black !important;
    }
}

.hr-coral {
    border-bottom: 3px dotted #F15F4E;
}