// Colors!
$yellow: #FDEB65;
$orange: #F5A95F;
$coral: #F15F4E;
$green: #9BD096;
$skyblue: #3399DB;
$blue: #7976B4;
$purple: #673A96;
$white: #FFFFFF;
$gray: #F5F5F5;
$lightgray: #f5f5f5;
$darkgray: #272727;
$black: #000000;