// Colors!
$coral: #F15F4E;

$yellow: #FDEB65;
$orange: #F5A95F;

$green: #9BD096;
$palegreen: #9ADA62;

$purple: #673A96;
$indigo: #6A478D;

$skyblue: #65A2D8;
$skyblue2: #069CC5;
$blue: #7976B4;
$seablue: #47BDB8;
$navy: #2b3376;

$white: #FFFFFF;

$lightgray: #f5f5f5;
$mediumgray: #9da2a8;
$darkgray: #272727;
//$extradarkgray: #0D0D0D;
$extradarkgray: #0e0e0e;

$black: #000000;