.dashboard{
    color: white;
    
    a {
        color: white !important;
        text-decoration: none !important;
    }
}

.block{
    margin: 0px 50px 20px 0px;
}

.rect{
    margin-bottom: 15px;
}

.circle{
    width: 150px; 
    height: 150px; 
    margin-bottom: 15px; 
    border-radius: 50%
}

.dark-theme{
    padding: 30px 10%; 
    background-color: #272727;
}

.light-theme{
    
}