.dashboard {
    font-size: 12px;
    word-wrap: break-word;
    
    a {
        color: white !important;
        text-decoration: none !important;
    }
}

.block{
    padding: 0px 25px 30px 25px;
}

.video-list {
    margin: 0 3%;
}

.upload-page {
    padding: 20px !important;
}

