md-sidenav.md-locked-open {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
}

#jammer-sidebar {
    margin: 14px 0;
    width: 100%;
}

#jammer-sidebar li {
    position: relative;
    line-height: 24px;
    font-size: 11px;
}

#jammer-sidebar .jammer-sidebar-section h3, #jammer-sidebar .jammer-sidebar-section .jammer-sidebar-submenu .jammer-sidebar-section.jammer-sidebar-single-section h3 {
    padding: 0;
    position: relative;
}

#jammer-sidebar>li>h3 {
    text-transform: uppercase;
}

#jammer-sidebar h3, #jammer-sidebar h3 a {
    background: none;
    color: #444;
    font-size: 11px;
    font-weight: 500;
}

#jammer-sidebar>.jammer-sidebar-section>h3 a {
    line-height: 11px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#jammer-sidebar .jammer-sidebar-section a, #jammer-sidebar .jammer-sidebar-submenu li a {
    display: block;
    padding: 0 14px;
}

#jammer-sidebar .jammer-sidebar-section h3 a>.header-text, #jammer-sidebar .jammer-sidebar-section h3 a>.studio-icon {
    vertical-align: middle;
    display: inline-block;
}

#jammer-sidebar .studio-icon {
    margin: 0;
    margin-right: 7px;
}

#jammer-sidebar .jammer-sidebar-section h3 a span.header-text {
    width: 74%;
}

#jammer-sidebar .jammer-sidebar-section h3 a>.header-text, #jammer-sidebar .jammer-sidebar-section h3 a>.studio-icon {
    vertical-align: middle;
    display: inline-block;
}