
$genreTagHeight: 100px;

.genres-section {

  .genre {
    height: $genreTagHeight;
    border-radius: 5px;
  }

  .genre-text {
    color: #000 !important;
    text-align: center;
    line-height: $genreTagHeight;
    vertical-align: middle;
    font-size: 18px;
  }
}
