#drew-container {
    background: url(../../assets/images/team/drew-front.png) 0 0 repeat;
    width: 256px;
    height: 256px;
}

#jess-container {
    background: url(../../assets/images/team/jess-front.png) 0 0 repeat;
    width: 256px;
    height: 256px; 
}

#mark-container {
    background: url(../../assets/images/team/mark-front.png) 0 0 repeat;
    width: 256px;
    height: 256px; 
}

#sanjana-container {
    background: url(../../assets/images/team/sanjana-front.png) 0 0 repeat;
    width: 256px;
    height: 256px; 
}

#ethan-container {
    background: url(../../assets/images/team/ethan-front.png) 0 0 repeat;
    width: 256px;
    height: 256px;
}

//
//#drew-container:hover {
//    background: url(../../assets/images/team/drew.gif) 0 0 repeat;
//    width: 256px;
//    height: 256px;
//    
//    ~#jess-container {
//        background: url(../../assets/images/team/jess-left.png) 0 0 repeat;
//        width: 256px;
//        height: 256px;
//    }
//
//    ~#mark-container {
//        background: url(../../assets/images/team/mark-left.png) 0 0 repeat;
//        width: 256px;
//        height: 256px; 
//    }
//
//    ~#sanjana-container {
//        background: url(../../assets/images/team/sanjana-left.png) 0 0 repeat;
//        width: 256px;
//        height: 256px;
//    }
//
//    ~#ethan-container {
//        background: url(../../assets/images/team/ethan-left.png) 0 0 repeat;
//        width: 256px;
//        height: 256px;
//    }
//}
//
//#jess-container:hover {
//    background: url(../../assets/images/team/jess.gif) 0 0 repeat;
//    width: 256px;
//    height: 256px;
//
//    ~#mark-container {
//        background: url(../../assets/images/team/mark-left.png) 0 0 repeat;
//        width: 256px;
//        height: 256px; 
//    }
//
//    ~#sanjana-container {
//        background: url(../../assets/images/team/sanjana-left.png) 0 0 repeat;
//        width: 256px;
//        height: 256px; 
//    }
//
//    ~#ethan-container {
//        background: url(../../assets/images/team/ethan-left.png) 0 0 repeat;
//        width: 256px;
//        height: 256px;
//    }
//}
//
//#jess-container:hover #drew-container {
//    background: url(../../assets/images/team/drew-right.png) 0 0 repeat;
//    width: 256px;
//    height: 256px;
//}
//
//#mark-container:hover {
//    background: url(../../assets/images/team/mark.gif) 0 0 repeat;
//    width: 256px;
//    height: 256px;
//
//    ~#sanjana-container {
//        background: url(../../assets/images/team/sanjana-left.png) 0 0 repeat;
//        width: 256px;
//        height: 256px;
//    }
//
//    ~#ethan-container {
//        background: url(../../assets/images/team/ethan-left.png) 0 0 repeat;
//        width: 256px;
//        height: 256px;
//    }
//}
//
//#sanjana-container:hover {
//    background: url(../../assets/images/team/sanjana.gif) 0 0 repeat;
//    width: 256px;
//    height: 256px;    
//    
//
//    ~#ethan-container {
//        background: url(../../assets/images/team/ethan-left.png) 0 0 repeat;
//        width: 256px;
//        height: 256px;
//    }
//}
//
//#ethan-container:hover {
//    background: url(../../assets/images/team/ethan.gif) 0 0 repeat;
//    width: 256px;
//    height: 256px;    
//}