// Our main SASS styles handler

@import 'colors';
@import 'fonts';

// Yeoman generated stuff
@import 'jumbotron';
@import 'material-icons';

// Booksmart styles!
html {
  font-family: 'Muli', sans-serif;
}

[layout=row] {
  flex-direction: row;
}

md-toolbar.md-default-theme {
  background-color: black;
}
