// Our main SASS styles handler

@import 'colors';
@import 'fonts';

// JamJar styles!

/*
.header {
    display: table;
    position: relative;
    width: 100%;
    height: auto;
    background: url(../assets/images/concert_bg/concert_coral_web_bg_1094x729.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
    h2 {
        letter-spacing: 4px;   
    }

    .panelbox {
        font-size: 18px;
        font-weight: bold;
    }
    
    .whitebox {
        background-color: rgba(139,139,131,0.5);
        color: white;
        width: 400px;
        height: 80px;
        padding: 10px 30px 10px 30px;
        margin: 10px;
        border-radius: 25px;
        margin-left:auto;
        margin-right:auto;
    }
}
*/



/* SETUP */
html, body {
    font-family: 'Muli', sans-serif;
    /*width: 100%;
    min-height: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;*/
}

h1, h2 {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: white;
}

footer {
    background-color: $coral;
    color: white;
    width: 100%;
    height: 140px;
    position: absolute;
    font-size: 14px !important;
    
    h3 {
        -webkit-margin-before: 0 !important;
        -webkit-margin-after: .3em !important;
        text-decoration: underline;
        margin: 0 0 1px 0;
        padding: 0 0 2px 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.3em;
        vertical-align: middle;
    }
    
    ul {
        list-style-type: none;
        line-height: 2em;
    }
    
    a {
        color: white !important;
        text-decoration: none !important;
    }
    
    .container {
        padding: 0 20px 0 20px;    
    }
}


/* FORM INPUTS */
.ng-invalid.ng-dirty{
  border-color: red !important;
}

.ng-valid.ng-dirty{
  border-color: green !important;
}

/* PAGE THEMES */
.dark-theme{
    color: white;
    background-color: $darkgray;
    //background: url(../assets/images/wallpaper/grainyBg.jpg) repeat center center scroll;
}

.light-theme{
    color: black;
    background-color: $lightgray;
    
    h3 {
        font-weight: 600;
        color: $navy !important;
    }
    
    h4 {
        color: $extradarkgray !important;
    }
}

.small-padding {
    padding: 20px 5%; 
}

/* CUSTOM VIEWS */
.text-vertical-center {
    display: table-cell;
    text-align: center;
    padding-top: 50px;
}

.left-align{
    text-align: left;
}

.right-align{
    text-align: right;
}

.coral-bg {
    background-color: $coral !important;
}

.black-color {
    color: black !important;
}

.content {
    //padding-bottom: 140px; /*height of the footer*/
}

.logo-banner{
    max-width: 300px;
}

.rect{
    margin-bottom: 15px;
}

.circle{
    width: 150px; 
    height: 150px; 
    margin-bottom: 15px; 
    border-radius: 50%;
}

.mini-circle {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 0;
    border-radius: 50%;
}

.short-bar-div {
    padding: 0px 10%;
}

.long-bar-div {
    padding: 0px 5%;
}

.collection-gray-bar {
    border-bottom: medium solid $darkgray;
    margin-bottom: 3px;
}

.collection-white-bar {
    border-bottom: medium solid $white;
    margin-bottom: 3px;
}

/* LANDING PAGE - HEADER */
.header-wrap {
  height: 90vh;
}

.video-bg {
  height: 90vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url(../assets/images/stripe-25.png) 0 0 repeat;
  background-color: rgba(241,95,78,0.5); //coral tint
}
.video-bg video {
  display: none;
  opacity: .9;
}

header.landing-header {
  height: 90%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  /*-webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;*/
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    
    #logo {
      width: 10em;
      opacity: 0;
      -webkit-animation: load-scale 2.0s ease-out 0.8s 1 forwards;
              animation: load-scale 2.0s ease-out 0.8s 1 forwards;
    }

    #logo-text {
      width: 15em;
      opacity: 0;
      -webkit-animation: load-scale 2.0s ease-out 0.8s 1 forwards;
              animation: load-scale 2.0s ease-out 0.8s 1 forwards;
    }
    
    h2 {
      text-align: center;
      opacity: 0;
      -webkit-animation: load-popup 2.5s ease-out 2.8s 1 forwards;
              animation: load-popup 2.5s ease-out 2.8s 1 forwards;
    }
}

/* LANDING PAGE - STICKY NAV */
nav.main-nav {
    background: $extradarkgray;
    height:55px;
    z-index:200;
    margin:0 auto;
    width:100%;
    /*position:fixed;
    top:0;
    left:0;
    right:0;*/
    text-align: center;
    font-size:12px;
    text-decoration:none;
    display:inline-block;
    padding:7px 0;
    color:$white;
}

.nav-container {
    display: inline;
    margin:0 auto;
}

nav.main-nav.stickytop {
    position:fixed;
    top:0;
}

@media all and (min-width: 360px) and (max-width: 480px) {
    .nav-container {
        margin:0 auto;
        width:50%;
    }
}

@media screen and (max-width: 480px) { 
    .nav-container {
        width:92%;
    }
}

/* LANDING PAGE - ABOUT */
section.presentation {
    padding: 100px 70px;
    background: white;
    //background: url(../assets/images/wallpaper/whiteCloudBg.jpg) no-repeat center center scroll;
    text-align: center;
    
    h1 {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        padding-bottom: 25px;
        margin-bottom: 15px;
        font: 400 1em;
        letter-spacing: .5em;
        text-transform: uppercase;
        color: black;
        border-bottom: 3px dotted $coral;
        text-decoration: none;
    }
    
    p {
        display: block;
        width: 100%;
        max-width: 750px;
        margin: 30px auto 0;
        font: 400 1em/28px;
        color: black;
    }
}

/* LANDING PAGE - SAMPLE VIDEO SECTION */
section.sample {
    background: url(../assets/images/wallpaper/darkCloudBg.jpg) no-repeat center center scroll;
    color: $white;
    font: 400 1em;
    letter-spacing: .5em;
    padding: 50px 0px 100px 0px;
    
    h2 {
        text-align: center;
        padding-bottom: 30px;
        margin-bottom: 15px;
        text-decoration: none;
    }
}


/* VIDEO PLACEHOLDERS */
.wrapper1 {
    width:250px;
    height:200px;
    //border:2px black solid;
    margin:auto;
    position: relative;
}

.wrapper2 {
    width:250px;
    height:200px;
    //border:2px black solid;
    margin:auto;
    position: relative;
}

.wrapper3 {
    width:250px;
    height:200px;
    //border:2px black solid;
    margin:auto;
    position: relative;
}

.wrapper4 {
    width:250px;
    height:200px;
    //border:2px black solid;
    margin:auto;
    position: relative;
}

#song1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("http://fakeimg.pl/350x200/?text=Song+1");
    background-repeat: no-repeat;
    background-size: contain;
}
#song2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("http://fakeimg.pl/350x200/?text=Song+2");
    background-repeat: no-repeat;
    background-size: contain;
}
#song3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("http://fakeimg.pl/350x200/?text=Song+3");
    background-repeat: no-repeat;
    background-size: contain;
}
#song4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("http://fakeimg.pl/350x200/?text=Song+4");
    background-repeat: no-repeat;
    background-size: contain;
}


/************/
/** TABLET **/
/************/
@media screen and (min-width: 768px) {
  .header-wrap {
    height: 768px;
    width: 100%;
  }

  .video-bg {
    height: auto;
    width: 100vw;
    overflow: hidden;
  }
  .video-bg video {
    display: block;
    width: 1280px   !important;
    height: auto   !important;
  }

  header.landing-header {
      height: 90%;
      
      #logo {
        width: 15em;
        margin-top: 5em;
      }
      
      h2 {
        text-align: center;
        //font-size: 24px;
        margin-top: 0;
        margin-bottom: .75em;
      }
  }
}


/*********************/
/** COMPUTER SCREEN **/
/*********************/
@media screen and (min-width: 1280px) {
  .header-wrap {
    height: 90vh;
  }

  .video-bg {
    height: 90%;
    width: 100%;
    overflow: hidden;
  }
  .video-bg video {
    display: block;
    width: 100% !important;
    height: auto !important;
  }

  header.landing-header {
      height: 90%;
      
      #logo {
        width: 15em;
        margin-top: 5em;
      }
      
      h2 {
        text-align: center;
        //font-size: 42px;
        margin-top: 0;
        margin-bottom: .75em;
      }
  }
}

/***************/
/** ANIMATIONS **/
/***************/

@-webkit-keyframes load-scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes load-scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes load-spin {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    -webkit-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes load-spin {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
    -webkit-transform: rotate(180deg) scale(0.8);
            transform: rotate(180deg) scale(0.8);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes load-popup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes load-popup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes load-bop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes load-bop {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


// Yeoman generated stuff
