// Our main SASS styles handler

@import 'colors';
@import 'fonts';

// JamJar styles!

/* SETUP */
html, body {
    font-family: 'Muli', sans-serif;
}

h1, h2 {
    font-family: 'Comfortaa', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: white;
}
   
h1 {
    font-size: 18px;
    line-height: 1.3em;
    vertical-align: middle;
}

h2 {
    font-size: 15px;
    margin: 5px 0;
}

h3 {
    color: white;
    margin: 0 0 1px 0;
    padding: 0 0 2px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1em;
    vertical-align: middle;
    /*white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;*/
}

h4 {
    color: $mediumgray;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3em;
    vertical-align: top;
    white-space: normal;
    word-wrap: break-word;
}

footer {
    background-color: $coral;
    color: white;
    //width: 100%;
    //height: 140px;
    //position: absolute;
    font-size: 14px !important;
    padding: 20px 5px;
    
    h3 {
        -webkit-margin-before: 0 !important;
        -webkit-margin-after: .3em !important;
        text-decoration: underline;
        padding: 5px 0 8px 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.3em;
        vertical-align: middle;
    }
    
    a {
        color: white !important;
        text-decoration: none !important;
    }
    
    .foot-block {
        margin: 0 25px 10px 25px;
    }
}


/* FORM INPUTS */
.ng-invalid.ng-dirty{
  border-color: red !important;
}

.ng-valid.ng-dirty{
  border-color: green !important;
}


/* PAGE THEMES */
.dark-theme{
    color: white;
    background-color: $darkgray;
    //background: url(../assets/images/wallpaper/grainyBg.jpg) repeat center center scroll;
}

.light-theme{
    color: black;
    background-color: $lightgray;
    
    h2 {
        color: $navy !important;
        font-weight: 600;
        margin: 0;
    }
    
    h3 {
        color: $navy !important;
    }
    
    h4 {
        color: $extradarkgray !important;
    }
}

.coral-bg {
    background-color: $coral !important;
}


/* CUSTOM VIEWS */

.left-align{
    text-align: left;
}

.right-align{
    text-align: right;
}

.small-padding {
    padding: 1% 3%; 
}

.short-bar-div {
    padding: 0px 10%;
}

.long-bar-div {
    padding: 0px 5%;
}

.collection-gray-bar {
    border-bottom: medium solid $darkgray;
    margin-bottom: 3px;
}

.collection-white-bar {
    border-bottom: medium solid $white;
    margin-bottom: 3px;
}

.rect {
    background-color: #000;
    width: 200px !important;
    height: 110px !important;
    margin-bottom: 10px;
    overflow: hidden;
}

.circle {
    width: 150px !important; 
    height: 150px; 
    margin: 10px;
    border-radius: 50%;
}

.thumbnail {
    display: block;
    width: 100%;
    height: auto;
}

.artist-thumbnail-img {
    background-color: #000;
    //background-image: url(); //passed in by ng-style
    background-repeat: no-repeat;
    background-position: 50% 50%;
    //background-size: 100% auto;
    //background-size: contain;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.mini-artist-thumbnail-img {
    background-color: #000;
    //background-image: url(); //passed in by ng-style
    background-repeat: no-repeat;
    background-position: 50% 50%;
    //background-size: 100% auto;
    //background-size: contain;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 20px 0 0;
}

.video-thumbnail-img {
    background-color: #000;
    //background-image: url(); //passed in by ng-style
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 200px;
    height: 110px;
    margin-bottom: 10px;
}

/* Playlist/Concert Thumbnail CSS*/
.pl-thumb {
    position: relative;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    
    img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .sidebar {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 40%;
        background: rgba(0,0,0,.8);
    }
    
    .pl-sidebar-content {
        height: 100%;
        color: #cfcfcf;
        display: block;
        opacity: .9;
        text-align: center;
    }
    
    .formatted-video-count-label {
        display: block;
        margin: 0 .75em;
        font-size: 10px;
        line-height: 1.5em;
        word-break: break-word;
        white-space: normal;
        text-transform: uppercase;
    }
    
    .formatted-video-count-label b {
        display: block;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
    }
}

.valign::before {
    content: '';
    height: 100%;
}

.valign::before, .valign-container {
    vertical-align: middle;
    display: inline-block;
}

// Yeoman generated stuff
