<md-content>

  <div class="upload-container" layout="column" layout-align="center center">
      <md-input-container>
        <label>Upload name...</label>
        <input ng-model="vm.filename" ng-change="vm.updateFilename()">
      </md-input-container>

      <div ng-show="vm.uploader.isHTML5">
        <div class="file-drop-zone" nv-file-drop multiple uploader="vm.uploader" layout="column" layout-align="center center">
          <span>Drop your files here!</span>
        </div>
      </div>

      <div class="md-padding">
        Or click here to select files...
        <input type="file" nv-file-select="" multiple uploader="vm.uploader" title=""/>
      </div>

      <md-divider></md-divider>

      <h3>Upload queue</h3>
      <p>Queue length: {{ vm.uploader.queue.length }}</p>

      <div layout="row" class="list-header" layout-fill>
        <span flex="33">Name</span>
        <span flex="33">Size</span>
        <span flex="33">Progress</span>
      </div>

      <div ng-repeat="item in vm.uploader.queue" layout-fill>
        <div layout="row" layout-fill>
          <span flex="33" ng-class="{red: item.isError}" title="{{item.file.name}}" class="namebox">{{ item.file.name }}</span>
          <span flex="33">{{ item.file.size/1024/1024|number:2 }} MB</span>
          <span flex="33">
            <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }">{{item.progress}}%</div>
            </div>
          </span>
        </div>
      </div>

      <div>
        <div>
          Queue progress:
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
          </div>
        </div>
        <md-button type="button" class="md-raised md-primary" ng-click="vm.uploader.uploadAll()" ng-disabled="!vm.uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </md-button>
        <md-button type="button" class="md-raised" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </md-button>
        <md-button type="button" class="md-raised md-warn" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </md-button>
      </div>

    </div>

  <!-- </div> -->

</md-content>
