<div class="dark-theme">
    
  <div layout="row" class="genre-banner small-padding">
    <div class="genre-banner-bg"></div>
    <h2>Explore: <span class="genre-name">{{vm.name}}</span></h2>
  </div>

  <div layout="row" class="concert-section">
    <div layout="column" flex="20">
      <span>Concerts</span>
    </div>
  </div>

  <div layout="row" layout-align="start start" layout-wrap class='video-list'>
    <div ng-repeat="concert in vm.concerts" flex-xs="100" flex-sm="50" flex-md="25" flex-gt-md="20">
      <div layout="column" class="block">
        <a ui-sref="dashboard.concert({id: concert.id})">
          <div class="pl-thumb rect">
            <div class="video-thumbnail-img" 
                 ng-style="{'background-image':'url('+concert.thumbs[0][256]+')'}">
            </div>
            <span class="sidebar">
                <span class="pl-sidebar-content valign">
                    <span class="valign-container">
                        <span class="formatted-video-count-label">
                            <b>#{{concert.graph.length}}</b> 
                            jamjars
                            <b>-</b>
                            <b>{{concert.videos_count}}</b> 
                            videos
                        </span>
                    </span>
                </span>
            </span>
          </div>
        <h3>
          <span ng-repeat="artist in concert.artists">
            {{ artist.name }}
            {{$last ? '' : ', '}}
          </span>
        </h3>
        </a>
        <h4>{{concert.date}}</h4>
        <h4>{{concert.venue.name}}</h4>
      </div>
    </div>
  </div>

  <div layout="row" class="concert-section">
    <div layout="column" flex="20">
      <span>Videos</span>
    </div>
  </div>

  <div layout="row" layout-align="start start" layout-wrap class="video-list">
    <div ng-repeat="video in vm.videos" flex-xs="100" flex-sm="50" flex-md="25" flex-gt-md="20">
      <div layout="column" class="block">
        <a ui-sref="dashboard.player({concert_id: video.concert.id, video_id: video.id, type: 'individual'})">
            <div class="video-thumbnail-img" 
                 ng-style="{'background-image':'url('+video.thumb_src[256]+')'}">
            </div>
            <h3>{{video.name}}</h3>
        </a>
        <h3>
          <span ng-repeat="artist in video.artists">
            {{ artist.name }}
            {{$last ? '' : ', '}}
          </span>
        </h3>
        <h4>Uploader: <a ui-sref="dashboard.explore({uploaders: video.user.id, name: video.user.username})" ui-sref-opts="{inherit: false}">{{video.user.username}}</a></h4>
        <h4>Views: {{video.views}}</h4>
      </div>
    </div>
  </div>
</div>
