<md-toolbar class="navbar" layout="row" layout-align="space-between center">
    <span flex="50">
        <a ui-sref="dashboard.discover">
            <img class="logo" ng-src="assets/images/jamjar_logotype_transparent_400x155.png" alt="logo"/>
        </a>
        
        <md-button ng-repeat="page in vm.pages" ui-sref="{{page.state}}">
            {{page.name}}
        </md-button>
    </span>
    
    <span flex>
        <md-input-container class="md-block">
            <label>Search...</label>
            <input ng-model="search">
        </md-input-container>
    </span>
    
    <span>
        <!--
        <a ui-sref="dashboard.upload">
            <img class="logo" ng-src="assets/images/cloud-upload.png"/>
        </a>   
        <a ui-sref="login">
            <img class="icon" ng-src="assets/images/waveforms.png"/>
        </a>        
        -->
    </span>
</md-toolbar>
