<md-toolbar class="navbar" layout="row" layout-align="space-between center">
    <span flex="65" layout="row" layout-align="start center">
        <a ui-sref="dashboard.discover">
            <img class="logo" ng-src="assets/images/jamjar_text_logo/jamjar_text_transparent_200x77.png" alt="logo"/>
        </a>
        
        <span flex>
            <form name="searchBar" ng-submit="$event.preventDefault()">
              <md-autocomplete class='navbar-search'
                  md-search-text-change=""
                  md-search-text="vm.searchText"
                  md-items="item in vm.querySearch(vm.searchText)"
                  md-item-text="item"
                  md-min-length="1"
                  md-menu-class="navbar-search-results"
                  placeholder="Search...">
                <md-item-template>
                  <span class="item-title">
                    <md-icon>{{item.icon}}</md-icon>
                    <span class='item-title-name' md-highlight-text="vm.search" md-highlight-flags="^i"> {{item.name}} </span>
                  </span>
                  <span class="item-metadata">
                    <span class="item-metastat" md-highlight-text="vm.search" md-highlight-flags="^i">
                      {{item.details}}
                    </span>
                  </span>
                </md-item-template>
                <md-not-found>
                  <span>no results found</span>
                </md-not-found>
              </md-autocomplete>
            </form>
        </span>
    </span>
    
    <span flex="35" layout="row" layout-align="end center">
        <span hide-xs hide-sm hide-md layout="row" layout-align="end center">
            <md-button ng-repeat="page in vm.pages" ui-sref="{{page.state}}" ui-sref-active="active">
                {{page.name}}
            </md-button>

            <md-menu md-position-mode="target-right target" flex="20">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Settings">
                    <md-icon md-menu-origin md-svg-src = 'assets/images/btns/settingsBtn.svg'></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item ng-repeat="item in vm.settings">
                        <md-button ng-click="vm.handleClick(item)">
                            <div layout="row">
                                <p flex>
                                    {{item.name}}
                                </p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </span>
        
        <!--Hamburger is hidden when the screen size is larger than small -->
        <span hide-gt-md layout="row" layout-align="end center">
            <md-menu md-position-mode="target-right target">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)" aria-label="Settings">
                    <md-icon md-menu-origin md-svg-src = 'assets/images/btns/ic_menu_white_24px.svg'></md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item ng-repeat="item in vm.allPages">
                        <md-button ng-click="vm.handleClick(item)">
                            <div layout="row">
                                <p flex>
                                    {{item.name}}
                                </p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </span>
    </span>
</md-toolbar>
