// Navbar specific styling
.navbar {
    
    background-color: $coral !important;

    .navbar-search {
      color: black !important;
    }
    
    .logo {
        max-width: 100px;
        max-height: 40px;
        margin-left: 30px;
        margin-right: 50px;
    }
    
    .md-menu {
        padding: 8px 15px !important;
    }
    
    label {
        color: white !important;
        font-weight: normal;
        font-size: 12px;
    }
    
    input {
        color: black;
        font-weight: normal;
        font-size: 12px;
    }
    
    md-input-container {
        padding-bottom: 15px !important;
    }
    
    .md-input {
        border-color: white !important;
    }

    a.active {
        border-bottom: 1px solid #fff;
    }
    
    a {
        font-size: 12px;
        display: inline-block;
    }
    
    .md-button {
        padding: 0px 5px;
        background-color: $coral !important;
        color: white !important;
    }
}

.navbar-search-results {

  li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
  }

  .item-title-name {
    padding-left: 5px;
  }

  li:last-child {
    border-bottom-width: 0;
  }

  .item-title {
    display: block;
    line-height: 2;
  }

  .item-metadata {
    display: block;
    line-height: 2;
  }

  .item-title md-icon {
    height: 18px;
    width: 18px;
  }

}
