// Navbar specific styling
.navbar {
    
    background-color: $coral !important;
    
    .logo {
        max-width: 100px;
        max-height: 40px;
        margin-left: 30px;
        margin-right: 50px;
    }
    
    .md-menu {
        padding: 8px 15px !important;
    }
    /*md-icon {
        max-width: 30px;
        max-height: 30px;
        margin-left: 30px;
        margin-right: 50px;
    }*/
    
    label {
        color: white !important;   
        font-weight: normal;
        font-size: 12px;
    }
    
    input {
        color: white !important;   
        font-weight: normal;
        font-size: 12px;
    }
    
    md-input-container {
        padding-bottom: 15px !important;
    }
    
    .md-input {
        border-color: white !important;
    }

    a.active {
        border-bottom: 1px solid #fff;
    }
    
    a {
        font-size: 12px;
        display: inline-block;
    }
}
