<div class='dark-theme'>
  <div layout="row">
    <div layout="column">
      <img ng-src="http://fakeimg.pl/100x100/?text=Concert+{{vm.concert_id}}" style="width: 100px; border-radius: 50%" />
    </div>
    <div layout="column" layout-align="end start" style="margin-left: 20px">
      <div style="color: white">{{vm.concert_artists}}</div>
      <div style="color: white">{{vm.concert.venue.name}}</div>
      <div style="color: white">{{vm.concert.date}}</div>
    </div>
  </div>

  <div layout="row" style='margin: 40px auto; background-color: #303030; padding: 15px'>
    <div layout="column" flex="20">
      <span style="color: white; font-size: 1.2em">JamJars</span>
    </div>
    <div layout="column" flex="80" layout-align="center end">
      <span style="color: white; font-size: 1.2em;">See more</span>
    </div>
  </div>

  <div layout="row" layout-wrap>
    <div ng-repeat="jamjar in vm.concert_graph.graph" ng-if="jamjar.count > 1" flex="25" style="margin-bottom: 30px">
      <div layout="column">
        <a ui-sref="dashboard.player({concert_id: vm.concert.id, video_id: jamjar.start_id, type: 'jamjar'})">
            <div class="short-bar-div"><div class="collection-jamjar-bar"></div></div>
            <div class="long-bar-div"><div class="collection-jamjar-bar"></div></div>
            <img ng-src="{{jamjar.thumbnails[0][256]}}" style="width: 256px; height: 143px; margin-bottom: 10px" />            
            <div style="color: white">{{jamjar.count}} videos</div>
        </a>
      </div>
    </div>
  </div>


  <div layout="row" style='margin: 40px auto; background-color: #303030; padding: 15px'>
    <div layout="column" flex="20">
      <span style="color: white; font-size: 1.2em">All Videos</span>
    </div>
    <div layout="column" flex="80" layout-align="center end">
      <span style="color: white; font-size: 1.2em;">See more</span>
    </div>
  </div>

  <div layout="row" layout-wrap>
    <div ng-repeat="video in vm.concert.videos" flex="25" style="margin-bottom: 30px">
      <div layout="column">
        <img ng-src="{{video.thumb_src[256]}}" style="width: 256px; height: 143px; margin-bottom: 10px" />
        <div style="color: white">{{video.name}}</div>
        <div style="color: white">Uploaded by: <a href="#">{{video.user.username}}</a></div>
        <div style="color: white">{{video.views}} Views</div>
      </div>
    </div>
  </div>

  <div layout="row" style='margin: 40px auto; background-color: #303030; padding: 15px'>
    <div layout="column" flex="20">
      <span style="color: white; font-size: 1.2em">My Videos</span>
    </div>
    <div layout="column" flex="80" layout-align="center end">
      <span style="color: white; font-size: 1.2em;">See more</span>
    </div>
  </div>
</div>
