<div class='dark-theme'>
  <div layout="row">
    <div layout="column">
      <img ng-src="{{vm.concert.videos[0].artists[0].images[2].url}}" class="circle" />
    </div>
    <div layout="column" layout-align="end start">
      <div>{{vm.getConcertArtists()}}</div>
      <div>{{vm.concert.venue.name}}</div>
      <div>{{vm.concert.date}}</div>
    </div>
  </div>

  <div layout="row" class="concert-section">
    <div layout="column" flex="20">
      <span>JamJars</span>
    </div>
    <div layout="column" flex="80" layout-align="center end">
      <span>See more</span>
    </div>
  </div>

  <div layout="row" layout-wrap>
    <div ng-repeat="jamjar in vm.concert_graph.graph" ng-if="jamjar.count > 1" flex="25">
      <div layout="column">
        <a ui-sref="dashboard.player({concert_id: vm.concert.id, video_id: jamjar.start_id, type: 'jamjar'})">
            <div class="short-bar-div"><div class="collection-jamjar-bar"></div></div>
            <div class="long-bar-div"><div class="collection-jamjar-bar"></div></div> 
            <img ng-src="{{jamjar.thumbnails[0][256]}}" class="video-thumbnail"/>            
            <div>{{jamjar.count}} videos</div>
        </a>
      </div>
    </div>
  </div>


  <div layout="row" class="concert-section">
    <div layout="column" flex="20">
      <span>All Videos</span>
    </div>
    <div layout="column" flex="80" layout-align="center end">
      <span>See more</span>
    </div>
  </div>

  <div layout="row" layout-wrap>
    <div ng-repeat="video in vm.concert.videos" flex="25">
      <div layout="column">
        <img ng-src="{{video.thumb_src[256]}}" class="video-thumbnail"/>
        <div>{{video.name}}</div>
        <div>Uploaded by: <a href="#">{{video.user.username}}</a></div>
        <div>{{video.views}} Views</div>
      </div>
    </div>
  </div>

  <div layout="row" class="concert-section">
    <div layout="column" flex="20">
      <span>My Videos</span>
    </div>
    <div layout="column" flex="80" layout-align="center end">
      <span>See more</span>
    </div>
  </div>
</div>
