<div class="upload-container">
    <div ng-show="upload.uploader.isHTML5">
        <div class="file-drop-zone" 
             nv-file-drop 
             multiple 
             uploader="upload.uploader" 
             layout="column" 
             layout-align="center center">
            
            <div>
                <label class="myLabel md-raised md-button md-default-theme">
                    <input type="file" 
                           nv-file-select=""
                           multiple 
                           uploader="upload.uploader"/>
                    <span>CHOOSE VIDEOS TO UPLOAD</span>
                </label>
            </div>
            
            <div>or drag and drop them here</div>
            
        </div>
    </div>
    
    <div class="md-padding">
    </div>
    
    <div ng-repeat="item in upload.uploader.queue" layout-fill>
        <md-content layout="column" class="md-padding">
            <div layout="row" layout-align="space-between start">
                <div flex="33" layout="column" layout-padding layout-fill>
                    <img src="http://fakeimg.pl/250x150/?text={{item.file.name}}" class="rect" />
                    
                  <!--
                    <div layout="row" layout-align="space-between start" layout-padding>
                        <md-button ng-click="item.pause()" flex class="md-small">Pause</md-button>
                        <md-button ng-click="item.cancel()" flex class="md-small">Cancel</md-button>
                    </div>
                    -->
                </div>
 
                <div flex="66" layout="column" layout-padding layout-fill>
                    <p ng-class="{red: item.isError}"  title="{{item.file.name}}" class="namebox">
                      {{ item.file.name }} | {{ item.file.size/1024/1024|number:2 }} MB | {{ upload.uploadStatus(item) }}
                    </p>
                    
                    <md-input-container class="md-block" flex-gt-sm>
                        <input ng-model="item.title" placeholder="Video Name" ng-disabled="item.isUploaded && !item.isError">
                    </md-input-container>
                    
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Sharing</label>
                        <md-select ng-model="item.privacy" ng-disabled="item.isUploaded">
                            <md-option ng-repeat="ps in upload.privacySettings" value="{{ps.value}}">
                                {{ps.value}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            
            <div>
                <md-progress-linear md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
            </div>
            
        </md-content>
        
        <md-divider></md-divider>
    </div>    
    
    <div layout="row" layout-align="end center">
        <md-button ng-disabled="!upload.valid()" ng-click="upload.doUpload()" class="md-small">Upload</md-button>
    </div>
    
</div>
