.upload-container {
    margin: 10px;

    // hide default "Choose File No file chosen"
    label.myLabel input[type="file"] {
        position: fixed;
        top: -1000px;
    }
    
    .file-drop-zone {
        min-height: 200px;
        //background-color: white;
        background-color: rgba(241,95,78,0.2);
        border: 1px dotted $black;
        
        position: relative;
        z-index: 5;
    }
    
    .upload-bg {    
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url(../assets/images/wallpaper/concertCrowd.jpg) repeat center center scroll;
        opacity: .2;
        width: 100%;
        height: 100%;
    }
    
    .md-divider {
        border-top-width: 5px !important;
        border-top-color: $lightgray !important;
    }
    
    .md-input-container {
        margin: 18px 0 1px 0 !important;
    }
    
    .coral-btn {
        padding: 5px 15px;
        margin: 6px 0;
        background-color: $coral !important;
        color: white !important;
    }
    
    .close-btn {
        padding: 0;
        margin: 0;
    }
    
    .md-button.md-small{
        padding: 1px 1px !important;
    }
    
    .md-datepicker-button {
        width: 36px; 
    }

    .red {
      color: red;
    }
    
    .file-info {
        padding: 0 8px;
    }
}
