<div class="light-theme small-padding">
  <div layout="row" layout-align="start start" layout-wrap>
    <div ng-repeat="concert in vm.profile.concerts" flex-xs="100" flex-sm="50" flex-md="25" flex-gt-md="20">
      <div layout="column" class="block">
        <div class="short-bar-div"><div class="collection-gray-bar"></div></div>
        <div class="long-bar-div"><div class="collection-gray-bar"></div></div>
        <a href="">
            <img ng-src="{{concert.thumbs[0][256]}}" class="rect thumbnail"/>
        </a>
        <h4>
          <span ng-repeat="artist in concert.artists">
            {{ artist.name }}
            {{$last ? '' : ', '}}
          </span>
        </h4>
        <h4>{{concert.venue.name}}</h4>
        <h4>{{concert.date}}</h4>
        <h4>{{concert.videos_count}} videos</h4>
      </div>
    </div>
  </div>
</div>
