// Navbar specific styling
md-tabs {
    background-color: $white !important;
    color: $black;

    md-ink-bar {
      color: $black !important;
      background-color: $black !important;
    }

    md-tab-item {
        color: black !important;
        text-decoration: none !important;
        font-size: 12px !important;
    }
}
