<div class="light-theme small-padding">
  <div layout="row" layout-align="start start" layout-wrap class='video-list'>
    <div ng-repeat="video in vm.profile.videos" flex-xs="100" flex-sm="50" flex-md="25" flex-gt-md="20">
      <div layout="column" class="block">
        <a ui-sref="dashboard.player({concert_id: video.concert.id, video_id: video.id, type: 'individual'})">
            <div class="video-thumbnail-img" 
                 ng-style="{'background-image':'url('+video.thumb_src[256]+')'}">
            </div>
            <h3>{{video.name}}</h3>
        </a>
        <h4>
          <span ng-repeat="artist in video.artists">
            {{ artist.name }}
            {{$last ? '' : ', '}}
          </span>
        </h4>
        <h5>{{ video.concert.date }}</h5>
        <h5>{{ video.concert.venue.name }}</h5>
      </div>
    </div>
  </div>
</div>
