.authenticationBox {    
    label {
        color: white !important;
    }
    
    input {
        color: white !important;   
        font-weight: bold;
    }
    
    .error-msg {
        color: red;
        font-size: 14px;
    }
    
    .forgot-link {
        color: white;
        margin-right: 15px;
        font-size: 14px;
    }
    
    .coral-bg {
        background-color: $coral !important;
        color: $white !important;
    }
    
    md-input-container .md-input {
        border-color: white !important;
    }
    
    md-input-container {
        height: 30px;
        margin: 5px 15px 2px 0px !important;
    }
    
    .md-button {
        height: 42px !important;
        margin-left: 25px !important;
        margin-right: 25px !important;
    }
}
