<div class="authenticationBox" id="popupContainer" ng-cloak="">
    <div ng-show="vm.isSet(1)">
        <form name="logInForm" ng-submit="logInForm.$valid && vm.logIn()">            
            <div layout="row" layout-align="center">
                <md-button type="button" class="md-raised" ng-click="vm.showSignUp($event)">Sign Up</md-button>
                
                <div flex></div>
                
                <div layout="column">
                    <md-input-container>
                        <input ng-model="vm.login.username" type="text" placeholder="Username" ng-required="true">
                    </md-input-container>

                    <div ng-show="vm.errorMessage" class="error-msg left-align">Error: {{vm.errorMessage}}</div>
                </div>

                <div layout="column">
                    <md-input-container>
                        <input ng-model="vm.login.password" type="password" placeholder="Password" ng-required="true">
                    </md-input-container>

                    <a href="" ng-click="vm.setTab(3)" class="forgot-link right-align">Forgot?</a>
                </div>
                
                <md-button type="submit" class="md-raised coral-bg">Log In</md-button>
            </div>
        </form>
    </div>
    
    <div ng-show="vm.isSet(3)">
        <form name="resetPwForm" ng-submit="resetPwForm.$valid && vm.resetPw()">
            <div layout="row" layout-align="center">
                <md-button type="button" class="md-raised" ng-click="vm.showSignUp($event)">Sign Up</md-button>
                <md-button type="button" class="md-raised" ng-click="vm.setTab(1)">Log In</md-button>
                
                <div flex></div>
                
                <div layout="column">       
                    <md-input-container>
                        <input ng-model="vm.email" type="email" placeholder="Email" ng-required="true">
                    </md-input-container>

                    <div ng-show="vm.errorMessage" class="error-msg left-align">Error: {{vm.errorMessage}}</div>
                </div>

                <md-button type="submit" class="md-raised coral-bg">Reset Password</md-button>
            </div>
        </form>
    </div>    
</div>