.authenticationBox {
    /*background-color: rgba(139,139,131,0.5);
    width: 400px;
    height: 300px;
    padding: 10px 5px 10px 5px;
    margin: 10px;
    border-radius: 25px;
    margin-left:auto;
    margin-right:auto;*/
    
    .coral-bg {
        background-color: $coral;
        color: $white;
    }
    
    .small-btn {
        
    }
    
    md-input-container.md-icon-float {
        margin-top: -5px !important;
    }
    
    label {
        color: white !important;
    }
    
    input {
        color: white !important;   
        font-weight: bold;
    }
    
    md-input-container {
        padding-bottom: 2px !important;
        margin-right: 15px !important;
    }
    
    md-input-container input {
        margin-top: 25px !important;
    }
    
    md-input-container .md-input {
        border-color: white !important;
        line-height: 0 !important;
    }
    
    md-input-container.md-icon-float > input {
        padding-top: 2px !important;
    }
    
    md-input-container.md-icon-float > label {
        margin-left: 0;
    }
    
    md-input-container button { 
        margin-top: 0px !important;
    }
}


