<md-content>

  <div class="upload-container">

<!--     <div class="col-md-6"> -->

      <h3>Select files</h3>

      <div ng-show="uploader.isHTML5">
        <!-- 3. nv-file-over uploader="link" over-class="className" -->
        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
          Drop your files here!
        </div>
      </div>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <input type="file" nv-file-select="" uploader="uploader" multiple title="Or click here to select files..." /><br/>
    <!-- </div> -->

    <!-- <div class="col-md-6" style="margin-bottom: 40px"> -->

      <h3>Upload queue</h3>
      <p>Queue length: {{ uploader.queue.length }}</p>

      <div layout="row" class="list-header">
        <span class="col-md-3">Name</span>
        <span class="col-md-2">Size</span>
        <span class="col-md-3">Progress</span>
        <span class="col-md-4">Actions</span>
      </div>
      <div ng-repeat="item in uploader.queue">
        <div layout="row">
          <span class="col-md-3" ng-class="{red: item.isError}">{{ item.file.name }}</span>
          <span class="col-md-2">{{ item.file.size/1024/1024|number:2 }} MB</span>
          <span class="col-md-3">
            <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
          </span>
          <span class="col-md-4">
            <a type="button" class="md-icon-button md-mini blue" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
              <md-icon class="zmdi zmdi-upload"></md-icon>
            </a>
            <a type="button" class="md-icon-button md-mini orange" ng-click="item.cancel()" ng-disabled="!item.isUploading">
              <md-icon class="zmdi zmdi-block"></md-icon>
            </a>
            <a type="button" class="md-icon-button md-mini red" ng-click="item.remove()">
              <md-icon class="zmdi zmdi-delete"></md-icon>
            </a>
          </span>
        </div>
      </div>

      <div>
        <div>
          Queue progress:
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <md-button type="button" class="md-raised md-primary" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </md-button>
        <md-button type="button" class="md-raised" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </md-button>
        <md-button type="button" class="md-raised md-warn" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </md-button>
      </div>

    </div>

  <!-- </div> -->

</md-content>
