.jamjar-player {
    background-color: #000;

    .player-sidebar {
        color: white;

        .player-thumbnail {
            max-width: 100%;
            background: rgba(0,255,255, 0.5);
        }

        .player-thumbnail-info {
            position:relative;
            top:-30px;
            height: 30px;
            width: 100%;
            color: white;
            text-align: center;
            line-height: 30px;
            background-color: rgba(0,0,0,0.5)
        }
    }
}

.videogular-container {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

/* Custom layer */
videogular div.jamjar-layer {
    //background-color: $black;
    position: absolute;
    display: block;
    z-index: 50;
    top: 0;
    opacity: 0.8;
}

/*videogular div.jamjar-layer img {
    //width: 500px;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
    opacity: 0.9;
}*/

/* Custom button */
videogular jamjar-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

videogular jamjar-button a,
videogular jamjar-button a:hover,
videogular jamjar-button a:visited {
    color: white;
    text-decoration: none;
}

/* JamJar Bars */
.jamjar-box {
    border-radius: 7px;
    padding: 2px;
    margin: 5px;
    min-width: 100px;
    height: 50px;
    background: #9BD096;
    cursor: pointer;
}

.jamjar-line {
    border-radius: 7px;
    padding: 2px;
    margin: 5px 5px 5px -5px;
    min-width: 100px;
    height: 10px;
    background: #9BD096;
    cursor: pointer;
    z-index: 50;

    //-moz-transition: all 1s ease-out;     /* FF4+ */
    //-webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
    //transition: all 1s ease-out;  
}

.jamjar-bar {
    //-moz-transition: all 1s ease-out;     /* FF4+ */
    //-webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
    //transition: all 1s ease-out;  
}

.disabled-jam {
    background: #2a2a2a !important;
}

.active-jam {
    background: #7976B4 !important;
}

.thumbnail-preview {
    border-radius: 50%;
    padding: 0 !important;
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 50px;
    z-index: 100;
}

.jamjar-preview-info {
    margin-left: 10px;
    color: $white;
}

/*
@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}*/

.curr-video-info {
    padding: 10px 40px;
    
    .primary-video-title {
        color: $darkgray;
        font-size: 24px;
        font-weight: normal;
        line-height: normal;
        word-wrap: break-word;
        margin: 0 0 5px 0;
        padding: 0;
    }
    
    .user-info { 
        font-size: 13px;
        color: $darkgray;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .video-views {
        font-size: 16px;
        color: $darkgray;
        padding-right: 6px;
        margin-bottom: 5px;
    }
    
    a:hover, a:focus {
        text-decoration: underline !important;
    }
    
    a {
        color: #167ac6 !important;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    .md-button {
        color: $darkgray !important;
        font-weight: 500;
        font-size: 13px !important;
        line-height: 25px !important;
        padding: 1px 6px !important;
        margin: 2px 0 2px 4px !important;
        min-height: 25px !important;
        min-width: 20px !important;
        border-radius: 3px;
        border: 0;
    }
}

.concert-info {
    padding: 10px 40px;
    color: $white;
    background-color: $coral;
    line-height: 1.4em;
    
    img {
        display: inline-block;
        vertical-align: middle;
    }
    
    .artist {
        font-weight: 600;
    }
}

.recommended-jamjars {
    padding: 10px 40px;
    background-color: $darkgray;
}

