.jamjar-player {
  //width: 512px;
  height: auto;
  background-color: #000;

  .player-sidebar {
    color: white;
    width: 100%;
    height: 512px;
    overflow-y: scroll;
    overflow: scroll;

    .player-thumbnail {
      max-width: 100%;
      background: rgba(0,255,255, 0.5);
    }

    .player-thumbnail-info {
      position:relative;
      top:-30px;
      height: 30px;
      width: 100%;
      color: white;
      text-align: center;
      line-height: 30px;
      background-color: rgba(0,0,0,0.5)
    }

    //.player-thumbnail-disabled {
    //  content: "";
    //  display: block;
    //}
  }
}
