<div class='jamjar-layer' ng-show='player.overlay.visible' ng-cloak>
    <div layout="column">

        <div class='jamjar-bar'>
            <md-button layout="row">
                <img class="thumbnail-preview" ng-src="{{player.jamjar.primaryVideo.video.thumb_src[128]}}" />
                <div flex class="jamjar-line active-jam" ng-style="{width: player.jamjar.primaryVideo.presentation.width}"></div>
                <md-tooltip><!--md-visible="player.tooltip.showTooltip" md-direction="{{player.tooltip.tipDirection}}">-->
                    <div flex>{{player.jamjar.primaryVideo.video.name}}</div>
                    <div flex>{{player.jamjar.primaryVideo.video.user.username}}</div>
                </md-tooltip>
            </md-button>
        </div>

        <div ng-repeat="video in player.jamjar.nowPlaying" ng-if="video != player.jamjar.primaryVideo" >
            <div ng-click="player.jamjar.handleSwitch(video)">

                <div class='jamjar-bar' ng-style="{'margin-left': video.presentation.offset}">
                    <md-button layout="row">
                        <img class="thumbnail-preview" ng-src="{{video.video.thumb_src[128]}}" />
                        <div flex class='jamjar-line' ng-style="{width: video.presentation.width}" ng-class="{'disabled-jam': !video.presentation.playable}"></div>
                        <md-tooltip>
                            <div flex>{{video.video.name}}</div>
                            <div flex>{{video.video.user.username}}</div>
                        </md-tooltip>
                    </md-button>
                </div>

                <!--<div ng-if="video != player.jamjar.primaryVideo" 
                     class="jamjar-box" 
                     style="width: {{video.video.length}}em;
                            margin-left: {{player.jamjar.primaryVideo.offset}}">
                    <div layout="row">
                        <img class='thumbnail-preview' ng-src="{{video.video.thumb_src[128]}}" />
                        <div flex layout="column" class="jamjar-preview-info">
                            <div flex>{{video.video.name}}</div>
                            <div flex>{{video.video.user.username}}</div>
                            <div>{{video.edges[0].video}}</div>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</div>
