.theatre-bg {
    color: white;
    background-color: #000;
    
    h1, h2, h3 {
        color: white;
    }
}

/* Custom jamjar button */
videogular jamjar-button {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

videogular jamjar-button a,
videogular jamjar-button a:hover,
videogular jamjar-button a:visited {
    color: white;
    text-decoration: none;
}


videogular div.jamjar-layer-bg-container {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

videogular div.jamjar-layer-bg-container.ng-hide {
    opacity: 0;
}

/* Custom overlay */
videogular div.jamjar-layer-bg {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 4;
    opacity: 0.4;
}

videogular div.jamjar-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
    opacity: 1;
    padding-bottom: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

.high-z {
    z-index: 70;
}


/* Custom scrollbar styling (firefox doesn't support this :[)*/
.jamjar-layer::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}
    
.jamjar-layer::-webkit-scrollbar-thumb {
	background-color: $blue;
}
    
.jamjar-layer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.2);
	background-color: white;
}


/* JamJar Bars */
.jamjar-line {
    border-radius: 15px;
    padding: 2px;
    margin: 5px 5px 5px -15px;
    min-width: 100px;
    height: 15px;
    background: $green;
    cursor: pointer;
    z-index: 50;

    opacity: 0.5;

    //-moz-transition: all 1s ease-out;     /* FF4+ */
    //-webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
    //transition: all 1s ease-out;  
}

.jamjar-bar {
    //-moz-transition: all 1s ease-out;     /* FF4+ */
    //-webkit-transition: all 1s ease-out;  /* Saf3.2+, Chrome */
    //transition: all 1s ease-out;  
}

.disabled-jam {
    background: #2a2a2a !important;
    cursor: not-allowed !important;
}

.disabled-jam-btn {
    cursor: not-allowed !important;
}

.active-jam {
    background: $coral !important;
    cursor: not-allowed !important;
}

.primary-video-btn {
    cursor: not-allowed !important;
}

.ol-thumbnail-img {
    background-color    : #000;
    //background-image    : url(); //passed in by ng-style
    background-repeat   : no-repeat;
    background-position : 50% 50%;
    //background-size     : 100% auto;
    //background-size     : contain;
    width               : 65px;
    height              : 65px;
    border-radius       : 50%;
    z-index: 70;
}


/* Styling for area under main video player */
.curr-video-info {
    padding: 10px 40px;
    background: white;
    
    .primary-video-title {
        color: $darkgray;
        font-size: 24px;
        font-weight: normal;
        line-height: normal;
        word-wrap: break-word;
        margin: 0 0 5px 0;
        padding: 0;
    }
    
    .user-info { 
        font-size: 14px;
        color: $darkgray;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .video-views {
        font-size: 16px;
        color: $darkgray;
        padding-right: 6px;
        margin-bottom: 5px;
    }
    
    a:hover, a:focus {
        text-decoration: underline !important;
    }
    
    a {
        color: #167ac6 !important;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    .md-button {
        color: $darkgray !important;
        font-weight: 500;
        font-size: 14px !important;
        line-height: 25px !important;
        padding: 1px 6px !important;
        margin: 2px 0 2px 4px !important;
        min-height: 25px !important;
        min-width: 20px !important;
        border-radius: 3px;
        border: 0;
    }
}

.concert-info {
    padding: 10px 40px;
    color: $white;
    background-color: $coral;
    line-height: 1.4em;
    
    img {
        display: inline-block;
        vertical-align: middle;
    }
    
    .artist {
        font-weight: 600;
    }
}
//
//.rec-title {
//    background-color: #303030;
//}

.recommended-jamjars {
    padding: 30px 40px 0 40px;
}

.vote-active-up {
    background-color: #9BD096 !important;
}

.vote-active-down {
    background-color: #F5A95F !important;
}

.vline-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 90%;
}

.vline {
  position: absolute;
  z-index: 75;
  height: 100%;
  width: 1px;
  background-color: transparent;
  border-right: 2px solid #fff;
  opacity: 0.25;

  margin-left: 15px;

  -webkit-transition: visibility 0.5s, opacity 0.5s linear;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.vline.ng-hide {
    opacity: 0;
}


.md-select-menu-container {
  z-index: 151 !important;
}
