<div layout="column">
  <div layout="column" ng-if="player.jamjar.primaryVideo" class='jamjar-player videogular-container'>
      <div ng-repeat="video in player.jamjar.nowPlaying">
        <videogular flex
            vg-theme="player.config.theme"
            vg-auto-play="true"
            vg-preload="preload"
            vg-player-ready="player.jamjar.onPlayerReady($API, video)"
            vg-update-time="player.jamjar.onUpdateTime($currentTime, $duration, video)"
            vg-change-source="player.jamjar.onUpdateSource($source, video)"
            vg-update-state="player.jamjar.onUpdateState($state, video)"
            vg-complete="player.jamjar.onComplete(video)"
            vg-cue-points="player.jamjar.cuePoints"
            ng-style="{display: (player.jamjar.primaryVideo == video) ? 'block' : 'none'}">
            
            <vg-media vg-src="video.config.sources"></vg-media>
            
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>
                <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
                <jamjar-button></jamjar-button>
            </vg-controls>
            
            <vg-buffering></vg-buffering>
            <vg-overlay-play></vg-overlay-play>
            
            <jamjar-plugin></jamjar-plugin>
        </videogular>
      </div>
      <div flex class='player-sidebar'>
        <div layout="column" layout-align="space-around center">
          <div ng-repeat="video in player.jamjar.nowPlaying | filter:{playable: true}" ng-if="video != player.jamjar.primaryVideo">
            <div ng-class="{'player-thumbnail-disabled': true}" ng-click="player.jamjar.switchVideo(video)">
              <img class='player-thumbnail' ng-src="{{video.video.thumb_src[256]}}" />
            </div>
          </div>
        </div>
      </div>
  </div>
  <div layout="row" class="jamjar-player-info">
    <div flex="5"></div>
    <div flex="45">
      <div layout="column" layout-align="center start">
        <div layout="row">Title: {{player.jamjar.primaryVideo.video.name}}</div>
        <div layout="row">Uploaded By: {{player.jamjar.primaryVideo.video.user.username}}</div>
      </div>
    </div>
    <div flex="45">
      <div layout="column" layout-align="center end">
        <div flex layout-align="center start">
          <div layout="row"># Likes</div>
          <div layout="row"># upvotes / # downvotes</div>
        </div>
      </div>
    </div>
    <div flex="5"></div>
  </div>
</div>
