<div layout="row" layout-wrap>
    <div flex-xs="100" flex-gt-sm="20" 
         layout="row" layout-align="center center">
        <img ng-src="assets/images/jamjar_logo_transparent/jamjar_logo_transparent_40x40@3x.png" alt="logo"/>
    </div>

    <div flex-xs="100" flex-gt-sm="20" 
         layout="column" layout-align="center start">
       <h3 flex>Learn more</h3>
       <a flex href="/about">About us</a>
       <a flex ui-sref="support">Support</a>
    </div>

    <div flex-xs="100" flex-gt-sm="20" 
         layout="column" layout-align="center start">
        <h3 flex>Company</h3>
        <a flex href="/team">Our team</a>
    </div>

    <div flex-xs="100" flex-gt-sm="20" 
         layout="column" layout-align="center start">
        <h3 flex>Terms</h3>
        <a flex href="/legal">Legal</a>
        <a flex href="/privacy">Privacy</a>
    </div>

    <div flex-xs="100" flex-gt-sm="20" 
         layout="row" layout-align="center center">
        <a href="">
            <img ng-src="assets/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg"/>
        </a>
    </div>           
</div>
 