<div layout-gt-xs="row" layout-align="space-between start" layout-wrap>
    <div layout="column" layout-align="center center">
        <img ng-src="assets/images/jamjar_logo_transparent/jamjar_logo_transparent_40x40@2x.png" alt="logo"/>
    </div>

    <div layout="column" layout-align="center start">
       <h3>Learn more</h3>
       <a ui-sref="about">About us</a>
       <a ui-sref="support">Contact</a>
    </div>

    <div layout="column" layout-align="center start">
        <h3>Company</h3>
        <a ui-sref="team">Our team</a>
    </div>

    <div layout="column" layout-align="center start">
        <h3>Terms</h3>
        <a ui-sref="legal">Legal</a>
        <a ui-sref="privacy">Privacy</a>
    </div>

    <div layout="column" layout-align="center center">
        <a ui-sref="appstore">
            <img ng-src="assets/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg"/>
        </a>
    </div>           
</div>
 