<div class="container">
    <div layout="row" layout-align="center center">
        <div flex layout="row" layout-align="center center">
            <img ng-src="assets/images/jamjar_logo_transparent/jamjar_logo_transparent_40x40@3x.png" alt="logo"/>
        </div>
        
        <div flex layout="row" layout-align="center center">
           <ul>
                <li><h3>Learn more</h3></li>
                <li><a href="/about">About us</a></li>
                <li><a href="/support">Support</a></li>
            </ul>
        </div>
        
        <div flex layout="row" layout-align="center center">
            <ul>
                <li><h3>Company</h3></li>
                <li><a href="/team">Our team</a></li>
                <li><a href="/blog">JamJar Blog</a></li>
           </ul>
        </div>
        
        <div flex layout="row" layout-align="center center">
            <ul>
                <li><h3>Terms</h3></li>
                <li><a href="/legal">Legal</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
        </div>
        
        <div flex layout="row" layout-align="center center">
            <a href="">
                <img ng-src="assets/images/Download_on_the_App_Store_Badge_US-UK_135x40.svg"/>
            </a>
        </div>           
    </div>
</div>
 