<md-toolbar ng-if="!vm.showDashboardNav" class="navbar" layout="row" layout-align="space-between center">
    <span flex="65" layout="row" layout-align="start center">
        <a ui-sref="landing">
            <img class="logo" ng-src="assets/images/jamjar_text_logo/jamjar_text_transparent_200x77.png" alt="logo"/>
        </a>  
    </span>
</md-toolbar>

<header ng-if="vm.showDashboardNav">
    <navbar></navbar>
</header>

<div class="about-body">
    <section class="dictionary" layout="column" layout-align="center center">
        <div layout="column">
            <div layout="row" layout-align="start start">
                <div layout="column">
                    <h1>JAMJAR</h1>
                    <div class="about-jamjar-line title-line"></div>
                </div>
            </div>

            <div layout="row">
                <div layout="column">
                    <h2>[jam&bull;jar] | (noun)</h2>
                    <div class="about-jamjar-line sub-title-line"></div>
                </div>
            </div>

            <div layout="row">
                <div class="number-circle">1</div>
                <div layout="column">
                    <div class="def-text">Collection of auto-stitched crowdsourced concert videos</div>
                    <div class="about-jamjar-line def-line-s"></div>
                </div>
            </div>

            <div layout="row">
                <div class="number-circle">2</div>
                <div layout="column">
                    <div class="def-text">App that lets you watch concert performances from anywhere in the crowd on the fly</div>
                    <div class="about-jamjar-line def-line-m"></div>
                </div>
            </div>

            <div layout="row">
                <div class="number-circle">3</div>
                <div layout="column">
                    <div class="def-text">A Jar of Jams :)</div>
                    <div class="about-jamjar-line def-line-xs"></div>
                </div>
            </div>

            <div layout="row">
                <div class="number-circle">4</div>
                <div layout="column">
                    <div class="def-text">A Drexel University Senior Design Project, created by 5 dope Computer Science students</div>
                    <div class="about-jamjar-line def-line-l"></div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="how-it-works">
        <div layout="row" layout-align="center center">
            <div layout="column" layout-align="center center">
                <div class="how-it-works-icon how-it-works-jamjar">
                    <object id="logo" data="../../assets/svgs/jamjar-logo-optimised.svg" type="image/svg+xml"></object>
                </div>

                <div>
                    <h4>How JamJar Works (And Why It's Cool)</h4>
                </div>
            </div>
        </div>
        
        <div layout="row" layout-align="space-between start" layout-wrap>
            <div layout="column" layout-align="center center" class="block">
                <div class="how-it-works-icon">
                    <object data="../../assets/images/btns/ic_file_upload_white_48px.svg" type="image/svg+xml"></object>
                </div>

                <div>
                    <h4>Get Uploaded Videos!</h4>
                </div>
                
                <div>
                    <p>JarJar is only successful if users like you share your awesome concert videos with our community! Relying on accurate tagging, such as performing artist(s), concert date, and concert venue, we match your video with a concert event.</p>
                </div>
            </div>
            
            <div layout="column" layout-align="center center" class="block">
                <div class="how-it-works-icon">
                    <object data="../../assets/images/btns/ic_fingerprint_white_48px.svg" type="image/svg+xml"></object>
                </div>

                <div>
                    <h4>Process Audio Mumbo Jumbo!</h4>
                </div>
                
                <div>
                    <p>Just as you have a unique fingerprint, videos also have unique audio "fingerprints". We use this data to find videos with similar audio fingerprints. When they're similar, that means the videos overlap! We've got a match!</p>
                </div>
            </div>
            
            <div layout="column" layout-align="center center" class="block">
                <div class="how-it-works-icon">
                    <object data="../../assets/images/btns/ic_transform_white_48px.svg" type="image/svg+xml"></object>
                </div>

                <div>
                    <h4>Stitch 'Em!</h4>
                </div>
                
                <div>
                    <p>The &#10084; of this app. All the videos of a given concert with overlapping audio fingerprints are then stitched together in sequential order. The goal is to stitch a full-length concert from all the crowdsourced videos. Pretty sweet, right?</p>
                </div>
            </div>
            
            <div layout="column" layout-align="center center" class="block">
                <div class="how-it-works-icon">
                    <object data="../../assets/images/btns/ic_switch_video_white_48px.svg" type="image/svg+xml"></object>
                </div>

                <div>
                    <h4>Teleport Everywhere!</h4>
                </div>
                
                <div>
                    <p>Weeeeeee teleport to anywhere in the crowd, whether it be the pits, backstage, or the balcony, in our JamJar Video Player. Best of all, switching to different views is seamless! You won't miss a beat from where you were in the concert performance.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="our-story" layout="column" layout-wrap>
        <div layout="column" layout-align="start center">
            <h1>This Is What We Look Like</h1>
            <h5>And How We Dance</h5>
        </div>
        
        <div layout="row">
            <div id="drew-container"></div>
            <div id="jess-container"></div>
            <div id="mark-container"></div>
            <div id="sanjana-container"></div>
            <div id="ethan-container"></div>
        </div>
        
        <div layout="row" layout-align="center center" class="quote">
            <object id="logo" data="../../assets/images/btns/ic_format_quote_black_48px.svg" type="image/svg+xml"></object>
            <span>"Wouldn't it be awesome to take my 20 seconds concert videos and automatically combine it with other's to create the longest possible sequence of videos?"</span>
        </div>
    
        <div layout="row" layout-align="start center">
            <p flex="70">This idea sprouted from Mark Koh's independent research on audio-based video alignment, where he found out that such a process was possible. When he discovered that no application existed that supported his vision of automatic alignment of overlapping concert videos, he sought out a team to productize this idea for Drexel University's Senior Design Project. That's when 4 cool kids joined in on this venture: Drew Banin, Jessica Eng, Sanjana Raj, and Ethan Riback. On September 2015, all 5 members set out to develop a seamless interactive concert video application... thus the birth of JamJar!</p>
        </div>
        
        <div layout="row" layout-align="end center">
            <div class="our-story-image">
				<img class="desktopImage" src="../../assets/images/wallpaper/our-story.png">
				<img class="mobileImage" src="../../assets/images/wallpaper/our-story-mobile.png">
			</div>
        </div>
    </section>
</div>

<footer>
    <footbar></footbar>
</footer>