<div class="team-page">
    <header ng-if="vm.showDashboardNav">
        <navbar></navbar>
    </header>
    
    <div ng-if="!vm.showDashboardNav" class="theatre-bg footer-nav coral-line">
        <div class="nav-container">
            <user-authentication></user-authentication>
        </div>
    </div>

    <div class="">
        <section class="team-photos" layout="column" layout-align="center center" layout-wrap>
            <div layout="column" layout-align="center center">
                <h1>We Look Like This</h1>
            </div>

            <div layout="row">
                <div id="drew-container"></div>
                <div id="jess-container"></div>
                <div id="mark-container"></div>
                <div id="sanjana-container"></div>
                <div id="ethan-container"></div>
            </div>

            <div layout="column" layout-align="center center" layout-fill class="desc">
                <div id="jamjar-desc" layout="column" layout-fill layout-align="center center">
                    <h2 flex>TEAM JAMJAR</h2>
                    <hr/>
                    <div flex>5 dope Computer Science Students</div>
                </div>
                <div id="drew-desc" layout="column" layout-fill layout-align="center center">
                    <h2 flex>Drew Banin</h2>
                    <hr/>
                    <div flex>Backend Developer & Web Developer</div>
                </div>
                <div id="jess-desc" layout="column" layout-fill layout-align="center center">
                    <h2 flex>Jessica Eng</h2>
                    <hr/>
                    <div flex>Web Developer & UI/UX Designer</div>
                </div>
                <div id="mark-desc" layout="column" layout-fill layout-align="center center">
                    <h2 flex>Mark Koh</h2>
                    <hr/>
                    <div flex>Backend Developer & iOS Developer</div>
                </div>
                <div id="sanjana-desc" layout="column" layout-fill layout-align="center center">
                    <h2 flex>Sanjana Raj</h2>
                    <hr/>
                    <div flex>Project Manager</div>
                </div>
                <div id="ethan-desc" layout="column" layout-fill layout-align="center center">
                    <h2 flex>Ethan Riback</h2>
                    <hr/>
                    <div flex>iOS Developer</div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="bloop theatre-bg">
        <div layout="column" layout-align="center center">
            <h1>We Roll Like This</h1>
        </div>
        <div class="videogular-container">
            <videogular vg-theme="vm.config.theme.url">
                <vg-media vg-src="vm.config.sources"
                          vg-native-controls="true">
                </vg-media>
            </videogular>
        </div>	
    </div>

    <footer>
        <footbar></footbar>
    </footer>
</div>