<section layout="row" flex>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-coral-theme">
    <h1 class="md-toolbar-tools">Dashboard</h1>
  </md-toolbar>
  <md-content layout-padding>
    <md-button ng-click="close()" class="md-primary" hide-gt-md>
      Close Sidenav Left
    </md-button>
    <p hide-md show-gt-md>
      <ul id="jammer-sidebar">
        <li id="jammer-sidebar-section-id-dashboard" class="jammer-sidebar-section jammer-sidebar-single-section">
            <h3>
                <a href="#" class="jammer-sidebar-section-link">
                    <span class="studio-icon jammer-sidebar-dashboard">
                        <i class="zmdi zmdi-collection-video"></i>
                    </span>
                    <span class="header-text">My Videos</span>
                </a>
            </h3>
        </li>
        <li id="jammer-sidebar-section-id-dashboard" class="jammer-sidebar-section jammer-sidebar-single-section">
            <h3>
                <a href="#" class="jammer-sidebar-section-link">
                    <span class="studio-icon jammer-sidebar-dashboard">
                        <i class="zmdi zmdi-collection-video"></i>
                    </span>
                    <span class="header-text">Upload</span>
                </a>
            </h3>
        </li>
        <li id="jammer-sidebar-section-id-dashboard" class="jammer-sidebar-section jammer-sidebar-single-section">
            <h3>
                <a href="#" class="jammer-sidebar-section-link">
                    <span class="studio-icon jammer-sidebar-dashboard">
                        <i class="zmdi zmdi-collection-video"></i>
                    </span>
                    <span class="header-text">Playlists</span>
                </a>
            </h3>
        </li>
        <li id="jammer-sidebar-section-id-dashboard" class="jammer-sidebar-section jammer-sidebar-single-section">
            <h3>
                <a href="#" class="jammer-sidebar-section-link">
                    <span class="studio-icon jammer-sidebar-dashboard">
                        <i class="zmdi zmdi-collection-video"></i>
                    </span>
                    <span class="header-text">Account</span>
                </a>
            </h3>
        </li>
      </ul>
    </p>
  </md-content>
</md-sidenav>
<md-content flex layout-padding>
  <div layout="column" layout-fill layout-align="top center">
    <section class="videobox">
    <div class="container">
        <div class="videoContentBox">
            <div class="videogular-container">
                <videogular vg-player-ready="vm.onPlayerReady($API)" 
                            vg-complete="vm.onCompleteVideo()"
                            vg-theme="vm.config.theme">
                    <vg-media vg-src="vm.config.sources"
                              vg-tracks="vm.config.tracks">
                    </vg-media>

                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>

                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>
                    <vg-poster vg-url='vm.config.plugins.poster'></vg-poster>
                </videogular>
            </div>
        </div>
    </div>
</section>
    <div>
      <md-button ng-click="toggleLeft()"
        class="md-primary" hide-gt-md>
        Toggle left
      </md-button>
    </div>
    <div>
      <md-button ng-click="toggleRight()"
        ng-hide="isOpenRight()"
        class="md-primary">
        Toggle right
      </md-button>
    </div>
  </div>
  <div flex></div>
</md-content>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light">
    <h1 class="md-toolbar-tools">Sidenav Right</h1>
  </md-toolbar>
  <md-content ng-controller="RightCtrl" layout-padding>
    <form>
      <md-input-container>
        <label for="testInput">Search</label>
        <input type="text" id="testInput"
               ng-model="data" md-autofocus>
      </md-input-container>
    </form>
    <md-button ng-click="close()" class="md-primary">
      Close Sidenav Right
    </md-button>
  </md-content>
</md-sidenav>
</section>
