<section class="videobox">
    <div class="container">
        <div class="videoContentBox">
            <div class="videogular-container">
                <videogular vg-player-ready="vm.onPlayerReady($API)" 
                            vg-complete="vm.onCompleteVideo()"
                            vg-theme="vm.config.theme">
                    <vg-media vg-src="vm.config.sources"
                              vg-tracks="vm.config.tracks">
                    </vg-media>

                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>

                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>
                    <vg-poster vg-url='vm.config.plugins.poster'></vg-poster>
                </videogular>
            </div>
        </div>
    </div>
</section>
<div class="playlist">
    <ul>
        <li><a ng-click="vm.setVideo(0)">Fall Fest</a></li>
        <li><a ng-click="vm.setVideo(1)">Fall Fest 2</a></li>
        <li><a ng-click="vm.setVideo(2)">Pale Blue Dot</a></li>
        <li><a ng-click="vm.setVideo(2)">Big Buck Bunny</a></li>
    </ul>
</div>
<!--<div class="content-column2_1 ">
    <div class="widget-entry">
        <div class="column1">
            <div class="section-widget-heading">
                <h2 class="section-widget-title">Futuristic video applications for AngularJS</h2>
                <div class="title-line"></div>
            </div>
            <div class="content content-box-content">
                <p>Videogular is a video application framework for desktop and mobile powered by AngularJS</p>
                <p><a class="big-button green-button" href="http://www.videogular.com/tutorials/how-to-start/">
                    <i class="fa fa-arrow-circle-right"></i>Get started</a>&nbsp;<a target="_blank" class="big-button white-button" href="https://github.com/2fdevs/videogular">
                    <i class="fa fa-github"></i>Github</a>
                </p>
            </div>
        </div>
        <div class="cleared"></div>
    </div> 
</div>
<div class="content-column2_1  column-last">
    <div class="widget-entry">
        <div class="column1">
            <div class="content content-box-content">
                <p><iframe width="300" height="150" class="videogular-container" src="html/home-demo.html" scrolling="no" allowfullscreen="allowfullscreen"></iframe></p>
            </div>
        </div>
        <div class="cleared"></div>
    </div> 
</div>-->



<!--<div class="videogular-container">
    <videogular vg-player-ready="vm.onPlayerReady($API)" 
                vg-complete="vm.onCompleteVideo()"
                vg-theme="vm.config.theme">
        <vg-media vg-src="vm.config.sources"
                  vg-tracks="vm.config.tracks">
        </vg-media>

        <vg-controls>
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>

        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-poster vg-url='vm.config.plugins.poster'></vg-poster>
    </videogular>
</div>
<div class="playlist">
    <ul>
        <li><a ng-click="vm.setVideo(0)">Pale Blue Dot</a></li>
        <li><a ng-click="vm.setVideo(1)">Big Buck Bunny</a></li>
    </ul>
</div>-->